/* Global */
.html, body {
    margin: 0;
    padding: 0; 
    color:  #212529;
    font-family: 'Poppins', 'Segoe UI', 'Roboto';
    box-sizing: border-box;
}

.homebg {
    display: flex;
    width: 100%;
    height: 500px;
    padding: 0px;
    margin: 0px;

    background: #6BAFFF;
}

.home {
    position: absolute;
    width: 38px;
    height: 16px;
    left: 1081px;
    top: 43px;
    
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    
    color: #FFFFFF;
}

.about {
    position: absolute;
    width: 38px;
    height: 16px;
    left: 1147px;
    top: 43px;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}

.studyGroups {
    position: absolute;
    width: 100px;
    height: 16px;
    left: 1213px;
    top: 43px;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}

.contactUs {
    position: absolute;
    width: 85px;
    height: 16px;
    left: 1326px;
    top: 43px;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}
.card1 {
    position: absolute;
    width: 230px;
    height: 230px;
    left: 88px;
    top: 640px;

    display:flex;
    align-items: center;
    justify-content: center;

    background: #FF7575;
    border-radius: 50px;
}

.card1 img{
    width: 100px;
    height: 125px;
}

.card2 {
    position: absolute;
    width: 230px;
    height: 230px;
    left: 433px;
    top: 640px;

    display:flex;
    align-items: center;
    justify-content: center;

    background: #6BAFFF;
    border-radius: 50px;
}

.card2 img{
    width: 125px;
    height: 125px;
}

.card3 {
    position: absolute;
    width: 230px;
    height: 230px;
    left: 778px;
    top: 640px;

    display:flex;
    align-items: center;
    justify-content: center;

    background: #FFA755;
    border-radius: 50px;
}

.card3 img{
    width: 150px;
    height: 125px;
}

.card4 {
    position: absolute;
    width: 230px;
    height: 230px;
    left: 1123px;
    top: 640px;

    display:flex;
    align-items: center;
    justify-content: center;

    background: #FFCE70;
    border-radius: 50px;
}

.card4 img{
    width: 100px;
    height: 125px;
}

b{
    font-family: 'Segoe UI';
    margin-bottom: 50px;
    margin-top: 10px;
}


.studytopicsh5{
    margin-top: 25px;
    margin-bottom: 25px;
}

.studyTopics {
    position: absolute;
    width: 345px;
    height: 42px;
    left: 550px;
    top: 520px;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;

    color: #414141;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.studyTime {    
    position: absolute;
    width: 550px;
    height: 113px;
    left: 450px;
    top: 179px;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 112px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.catchPhrase {
    position: absolute;
    width: 400px;
    height: 28px;
    left: 525px;
    top: 302px;

    font-family: 'Segoe UI';
    font-style: normal; 
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}

/* .go {  
    position: absolute;
    width: 25px;
    height: 19px;
    left: 896px;
    top: 380px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
} 
*/


.userProfile img{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.userProfile {
        
    position: absolute;
    width: 50px;
    height: 50px;
    left: 25px;
    top: 25px;
    z-index: 0;

    background: #83DEC3;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    /* box-sizing: border-box; */
}


.bio {
    position: absolute;
    width: 200px;
    height: 19px;
    left: 140px;
    top: 906px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #414141;
}

.macroecon {
    position: absolute;
    width: 200px;
    height: 19px;
    left: 485px;
    top: 906px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #414141;
}

.psych {
    position: absolute;
    width: 200px;
    height: 19px;
    left: 835px;
    top: 906px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #414141;
}

.calc {
    position: absolute;
    width: 200px;
    height: 19px;
    left: 1175px;
    top: 906px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #414141;
}

.searchBar {
    position: absolute;
    width: 412px;
    height: 52px;
    left: 514px;
    top: 380px;

    background: #FFFFFF;
    border-radius: 25px;
}
